body {
	font-family:font-family: 'Cairo', sans-serif;
	margin:0;
	padding:0;
	font-weight:bold;
}

.brand-logo img {
	margin-top:12px;
	max-width:80px;
}

.abaycostumcolor {
  background-color: #e30f00 !important;
}

.mainnav{
	z-index: 9999 !important;
}

footer .container img {
	margin-top:5px;
}



#progress{
	position:fixed;
	top:100;
	left:0;
	height:2px; 
	padding:2px;
	background:#ff9900;
	z-index:999;
}

.sidenav{
	z-index:9999;
}

.card-panel {
	border-radius:5px;
	background-color:rgba(255,255,255,1) !important;
}

.card-panel:hover {
	border-radius:5px;
	background-color:rgba(255,255,255,1) !important;
	box-shadow: 0 0 4px 1.5px rgba(0,0,0,.4);
}

.prf {
	margin-top:-5px;
	font-size:14px;
}

 .parallax-container {
      height: 250px;
}

 .parallax-container h3{
	color:white;
	line-height:190px;
	font-size:60px;
	filter:none;
}

.parallax-container img {
	filter:grayscale() blur(.7px);
}

/*responsive parallax*/
@media only screen and (max-width: 425px) {
	.parallax-container {
	height:150px;		
}
	.parallax-container h3 {
	font-size:60px;
	line-height:90px;
}
}

@media only screen and (max-width: 375px) {
		.parallax-container {
		height:150px;		
	}
		.parallax-container h3 {
		font-size:40px;
		line-height:90px;
	}

}

/*footer*/
.pfcolorbg {
	background-color:#db0f00 !important;
}

.copyrightbgcolor {
	background-color:#cf0300 !important;
}
